// blog section start 
.blogsection {
    // padding-top: 35px;
    // padding-bottom: 35px;
    & .blogcard {
        padding: 7px;
        transition: all 0.3s ease-in-out;
        & .blogimg {
            aspect-ratio: 5/3;
            & img {
                transition: all 0.3s ease-in-out;
            }
        }
        & .blogcontent {
            padding: 15px 5px;
            & .date {
                // color: #7b7992;
                color: rgb(0 0 0 / 60%);
                margin-top: 9px;
                font-weight: 400;
                font-size: 13px;
                gap: 7px;
                & .calendaricon {
                    height: 14px;
                    max-width: 14px;
                    min-width: 14px;
                    @include sm {
                        height: 16px;
                        max-width: 16px;
                        min-width: 16px;
                    }
                    @include md {
                        height: 17px;
                        max-width: 17px;
                        min-width: 17px;
                    }
                }
                @include sm {
                    font-size: 14px;
                    margin-top: 11px;
                }
                @include md {
                    font-size: 15px;
                    margin-top: 14px;
                }
            }
            & .blogheading {
                font-size: 16px;
                line-height: 22px;
                margin-bottom: 6px;
                font-weight: 700;
                color: $theme2;
                -webkit-line-clamp: 2;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                transition: all 0.3s ease-in-out;
                @include sm {
                }
                @include md {
                    font-size: 17px;
                    line-height: 24px;
                    margin-bottom: 13px;
                }
                @include lg {
                    font-size: 20px;
                    line-height: 25px;
                    margin-bottom: 5px;
                }
            }
            & .blogdetail {
                color: $theme2;
                -webkit-line-clamp: 3;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                line-height: 20px;
                font-size: 13px;
                @include sm {
                    font-size: 14px;
                    line-height: 21px;
                }
                @include md {
                    font-size: 15px;
                    line-height: 20px;
                }
            }
            @include sm {
                padding: 17px 6px;
            }
            @include md {
                padding: 10px 7px 0 7px;
            }
        }
        @include sm {
            padding: 10px;
            &:hover {
                transform: translateY(-5px);
                box-shadow: -2px 11px 16px 7px rgb(0 0 0 / 8%) !important;
                & .blogheading {
                    color: $theme1;
                }
                & .blogimg {
                    & img {
                        // transform: scale(1.1);
                    }
                }
            }
        }
    }
    & .blogslidermain {
        
    }
    & .siderarrow {
        height: 50px;
        width: 50px;
        z-index: 1;
        top: 50%;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        background-color: #fff;
        opacity: 0;
        visibility: hidden;
        display: none !important;
        & .arrowicon {
            height: 17px;
            width: 16px;
            & img {
                transition: all 0.3s ease-in-out;
            }
        }
        &:hover {
            background-color: $theme1;
            & .arrowicon {
                & img {
                    filter: invert(1);
                }
            }
        }
    }
    & .prevarrow {
        transform: translate(-60px , -50%);
        left: -30px;
        & .arrowicon {
            transform: rotate(180deg);
        }
    }
    & .nextarrow {
        transform: translate(60px , -50%);
        right: -30px;
    }
    &:hover {
        & .siderarrow {
            opacity: 1;
            visibility: visible;
            & .arrowicon {
                & img {
                }
            }
            &:hover {
                & .arrowicon {
                    & img {
                    }
                }
            }
        }
        & .prevarrow {
            transform: translate(-42px , -50%);
            left: 0;
            & .arrowicon {
                transform: rotate(180deg);
            }
        }
        & .nextarrow {
            transform: translate(42px , -50%);
            right: 0;
        }
    }
    & .blogdots {
        bottom: -2px;
        display: block;
        & .swiper-pagination-bullet {
            height: 8px;
            width: 8px;
            &.swiper-pagination-bullet-active {
                background: $theme1 ;
            }
        }
    }
    @include sm {
        // padding-top: 40px;
        // padding-bottom: 40px;
        & .blogdots {
            & .swiper-pagination-bullet {
                height:9px;
                width: 9px;
                &.swiper-pagination-bullet-active {
                }
            }
        }
    }
    @include md {
        // padding-top: 45px;
        // padding-bottom: 45px;
        & .siderarrow {
            display: flex !important;
            & .arrowicon {
                & img {
                }
            }
            &:hover {
                & .arrowicon {
                    & img {
                    }
                }
            }
        }
        & .blogdots {
            display: none;
            & .swiper-pagination-bullet {
                &.swiper-pagination-bullet-active {
                }
            }
        }
    }
    @include lg {
        & .siderarrow {
            height: 55px;
            width: 55px;
            & .arrowicon {
                & img {
                }
            }
            &:hover {
                & .arrowicon {
                    & img {
                    }
                }
            }
        }

    }
}
// blog section end



//meet the team section start
.teamSection {
    & .profilecard {
        min-height: 270px;
        height: 100%;
        & .content {
            transition: 0.5s;
            & .teamimg {
                width: 120px;
                height: 120px;
                border: 3px solid #000;
                @include sm {
                    width: 135px;
                    height: 135px;
                }
                @include md {
                    width: 150px;
                    height: 150px;
                }
                @include lg {
                    width: 160px;
                    height: 160px;
                }
            }
            & .membername {
                color: #000;
                letter-spacing: 1px;
                font-weight:600;
                font-size: 15px;
                margin: 15px 0 6px;
                line-height: 1.1em;
                @include sm {
                    font-size: 16px;
                    margin: 18px 0 8px;
                }
                @include md {
                    font-size: 18px;
                    margin: 20px 0 10px;
                }
            }
            & .memberposition {
                font-size: 12px;
                font-weight: 500;
                // color: #4b4a4a;
                color: $theme1;
                @include sm {
                    font-size: 13px;
                }
                @include md {
                    font-size: 14px;
                }
            }
        }
        & .socialicons {
            position: static !important;
            margin-top: 12px;
            & li {
                margin: 0 8px;
                transition: 0.5s;
                transition-delay: calc(0.1s * var(--i));
                & .socialicon {
                    height: 35px;
                    width: 35px;
                    padding: 10px;
                    background-color: $white;
                    border-radius: 50%;
                    transition: all 0.3s ease-in-out;
                    & img {
                        filter: brightness(0);
                        transition: all 0.3s ease-in-out;
                    }
                    @include sm {
                        height: 37px;
                        width: 37px;
                        padding: 11px;
                        &:hover {
                            background-color: $black;
                            & img {
                                filter: brightness(100);
                            }
                        }
                        
                    }
                    @include md {
                        height: 40px;
                        width: 40px;
                        padding: 12px;
                    }
                }
                @include sm {
                    transform: translateY(40px);
                    opacity: 0;
                }
            }
            @include sm {
                bottom: 20px;
                position: absolute !important;
            }
            @include md {
                bottom: 30px;
            }
        }
        @include sm {
            min-height: 300px;
            &:hover {
                & .content {
                    transform: translateY(-20px);
                }
                & .socialicons li {
                    transform: translateY(0px);
                    opacity: 1;
                }
            }
        }
        @include md {
            min-height: 350px;
            &:hover {
                & .content {
                }
                & .socialicons li {
                }
            }
        }
        
    }
    @include sm {
    }
    @include md {
    }
    @include lg {

    }
}
//meet the team section end


// our client section start 
.clientsection {
    padding-top: 35px;
    padding-bottom: 35px;
    & .clientcard {
        padding: 20px;
        & .clientlogo {
            width: 150px;
        }
    }
    @include sm {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    @include md {
        padding-top: 45px;
        padding-bottom: 45px;
    }
    @include lg {

    }
}
// our client section end

