// blog section start 
.blogsection {
    padding-top: 50px;
    padding-bottom: 50px;
    & .blogcard {
        padding: 10px;
        transition: all 0.3s ease-in-out;
        & .blogimg {
            aspect-ratio: 5/3;
            & img {
                transition: all 0.3s ease-in-out;
            }
        }
        & .blogcontent {
            padding: 20px 7px;
            & .date {
                color: #7b7992;
                margin-bottom: 12px;
                font-weight: 500;
            }
            & .blogheading {
                font-size: 24px;
                font-weight: 700;
                color: #0d0925;
                margin-bottom: 17px;
                line-height: 30px;
                -webkit-line-clamp: 2;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                transition: all 0.3s ease-in-out;
            }
            & .blogdetail {
                color: #4e4a67;
                line-height: 1.5em;
                font-size: 16px;
                -webkit-line-clamp: 5;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
            }
        }
        &:hover {
            & .blogheading {
                color: $theme1;
            }
            & .blogimg {
                & img {
                    // transform: scale(1.1);
                }
            }
            transform: translateY(-5px);
            box-shadow: -2px 11px 16px 7px rgb(0 0 0 / 8%) !important;
        }
    }
    & .blogslidermain {
        
    }
    & .siderarrow {
        height: 55px;
        width: 55px;
        z-index: 1;
        top: 50%;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        background-color: #fff;
        opacity: 0;
        visibility: hidden;
        & .arrowicon {
            height: 17px;
            width: 16px;
            & img {
                transition: all 0.3s ease-in-out;
            }
        }
        &:hover {
            background-color: $theme1;
            & .arrowicon {
                & img {
                    filter: invert(1);
                }
            }
        }
    }
    & .prevarrow {
        transform: translate(-60px , -50%);
        left: -30px;
        & .arrowicon {
            transform: rotate(180deg);
        }
    }
    & .nextarrow {
        transform: translate(60px , -50%);
        right: -30px;
    }
    &:hover {
        & .siderarrow {
            opacity: 1;
            visibility: visible;
            & .arrowicon {
                & img {
                }
            }
            &:hover {
                & .arrowicon {
                    & img {
                    }
                }
            }
        }
        & .prevarrow {
            transform: translate(-32px , -50%);
            left: 0;
            & .arrowicon {
                transform: rotate(180deg);
            }
        }
        & .nextarrow {
            transform: translate(32px , -50%);
            right: 0;
        }
    }
    & .blogdots {
        bottom: -2px;
        display: none;
        & .swiper-pagination-bullet {
            height: 9px;
            width: 9px;
            &.swiper-pagination-bullet-active {
                background: $theme1 ;
            }
        }
    }
    @include sm {
        padding-top: 35px;
        padding-bottom: 35px;
    }
}
// blog section end

