// team section start
.teamSection {
    & .profilecardnew {
        gap: 14px;
        padding: 10px;
        transition: all 0.3s ease-in-out;
        & .teamimg {
            height: 90px;
            min-width:90px;
            max-width: 90px;
            @include sm {
                height: 95px;
                min-width:95px;
                max-width: 95px;
            }
        }
        & .content {
            & .membername {
                font-size: 16px;
                font-weight: 600;
                line-height: normal;
                color: $black;
                @include sm {
                    font-size: 17px;
                }
                @include md {
                    font-size: 18px;
                }
            }
            & .memberposition {
                font-size: 15px;
                font-weight: 400;
                margin: 4px 0 16px;
                line-height: normal;
                color: $theme2;
                @include sm {
                    font-size: 15px;
                }
                @include md {
                    font-size: 16px;
                }
            }
            & .socialicons {
                gap: 13px;
                & .socialicon {
                    height: 16px;
                    transition: all 0.3s ease-in-out;
                    & img {
                        filter: brightness(0);
                    }
                    @include sm {
                        height: 17px;
                        &:hover {
                            transform: rotateY(360deg);
                        }
                    }
                }
            }
        }
        @include sm {
            padding: 12px;
            &:hover {
                transform: translateY(-7px);
            }
        }
        @include md {
            padding: 14px;
        }
    }
    & .teamdots {
        bottom: -10px;
        display: block;
        & .swiper-pagination-bullet {
            height: 8px;
            width: 8px;
            &.swiper-pagination-bullet-active {
                background: $theme1 ;
            }
        }
    }
}
// team section end 


// contact section start 
.contactSection {
    // background: url(../img/blog/dotsbg.png);
    // & .contactcontent {
    //     & .contactCard {
    //         padding: 25px;
    //         & .contacticon {
    //             height: 65px;
    //             width: 65px;
    //             padding: 18px;
                
    //         }
    //         & .cardheading {
    //             font-size: 22px;
    //             font-weight: 600;
    //             color: $black;
    //             margin: 10px 0 14px;
    //             line-height: normal;
    //         }
    //         & .addressdetail {
    //             font-size: 16px;
    //             font-weight: 400;
    //             color: lighten($black, 35);
    //             line-height: normal;
    //         }
    //         &:hover {
    //             & .contacticon {
    //                 img {
    //                     animation: toBottomFromTop 1s forwards;
    //                 }
    //             }
    //             @keyframes toBottomFromTop {
    //                 49% {
    //                     -webkit-transform: translateY(-100%);
    //                     transform: translateY(-100%);
    //                 }
                    
    //                 50% {
    //                     opacity: 0;
    //                     -webkit-transform: translateY(100%);
    //                     transform: translateY(100%);
    //                 }
    //                 51% {
    //                     opacity: 1;
    //                 }
    //             }
    //         }
    //     }
    // }
    & .contactusImg {
        aspect-ratio: 6/3;
        @include md {
            aspect-ratio: 5/3;
        }
        @include lg {
            aspect-ratio: 6/3;
        }
    }
    & .submitbtn {
        background:$theme1;
        border-color: $theme1;
        color: $white;
        font-size: 13px;
        line-height: normal;
        padding:0 24px;
        font-weight: 700;
        border-radius: 4px;
        height: 39px;
        transition: all 0.3s ease-in-out;
        &:active {
            background-color: $theme1;
            border-color: $theme1;
            color: $white;
        }
        &:hover {
            background-color: darken($theme1, 10);
        }
        @include sm {
            font-size: 14px;
        }
    }
}
.formdata {
    // margin-top: 40px;
    // & .formcardmain {
    //     padding: 20px 0;
    // }
    & .formcard {
        & .contactlabel {
            font-size: 13px;
            font-weight: 500;
            color:$black;
            line-height: normal;
            margin:0 0 3px 2px;
            @include sm {
                font-size: 14px;
            }
        }
        & .contactInput {
            // border-bottom: 1.4px solid #33475b !important;
            // padding-bottom: 0px;
            font-size: 13px;
            font-weight: 500;
            color:$black;
            height: 35px;
            border-radius: 5px;
            @include sm {
                font-size: 14px;
                height: 40px;
            }
        }
        & input:-webkit-autofill,
        input:-webkit-autofill:focus {
            transition: background-color 600000s 0s, color 600000s 0s;
        }
        & input[data-autocompleted] {
            background-color: transparent !important;
        }
        &::placeholder {
            font-size: 13px;
            font-weight: 500;
            color:$black;
            @include sm {
                font-size: 14px;
            }
        }
        & .textbox {
            min-height: 70px;
            @include sm {
                min-width: 85px;
            }
            @include md {
                min-width: 100px;
            }
        }
        // & .contactInput {
        //     &:focus ~ .contactlabel {
        //         top: 0;
        //     }
        // }
    }
}
// contact section end



// influencer page start 
.influencerSection {
    & .influencerHeading {
        font-size: 22px;
        font-weight: 600;
        color: $black;
        line-height: 30px;
        @include sm {
            font-size: 26px;
            line-height: 37px;
        }
        @include md{
            font-size: 32px;
            line-height: 42px;
        }
        @include lg {
            font-size: 38px;
        }
        @include xl {
            font-size:40px ;
        }
    }
    & .influencerDetail {
        font-size: 14px;
        font-weight: 400;
        color: $theme2;
        line-height: 21px;
        margin-top: 10px;
        @include sm {
            font-size: 15px;
            margin-top:15px;
            line-height: 24px;
        }
        @include md {
            font-size: 16px;
            line-height: 24px;
            margin-top: 20px;
        }
    }
    & .influencerTitle {
        font-size: 16px;
        font-weight: 600;
        color: $black;
        margin-top: 10px;
        @include sm {
            font-size: 17px;
            margin-top: 12px;
        }
        @include md {
            font-size: 18px;
            margin-top: 14px;
        }
        
    }
    & .contactbtnMain {
        margin-top: 14px;
        & .contactbtn {
            font-size: 14px;
            font-weight: 500;
            color: $white;
            background-color: $theme1;
            padding: 0 20px;
            height: 39px;
            border-radius: 5px;
            transition: all 0.3s ease-in-out;
            &:hover {
                background-color: darken($theme1, 7);
            }
        }
    }
    & .influencerimg {
        border-radius: 6px 6px 6px 40px;
        // height: 430px;
        & img {
            object-fit: cover;
        }
        @include lg {
            height: 430px;
            aspect-ratio: unset !important;
            // object-fit: cover;
            border-radius: 10px 10px 10px 100px;
        }
        @include md {
            aspect-ratio: 4/2;
            
            border-radius: 8px 8px 8px 70px;
        }
        @include sm {
            border-radius: 6px 6px 6px 50px;
        }
    }
}
// influencer page end