// team section start
.teamSection {
    & .profilecardnew {
        gap: 14px;
        padding: 10px;
        transition: all 0.3s ease-in-out;
        & .teamimg {
            height: 90px;
            min-width:90px;
            max-width: 90px;
            @include sm {
                height: 95px;
                min-width:95px;
                max-width: 95px;
            }
        }
        & .content {
            & .membername {
                font-size: 16px;
                font-weight: 600;
                line-height: normal;
                color: $theme2;
                @include sm {
                    font-size: 17px;
                }
                @include md {
                    font-size: 18px;
                }
            }
            & .memberposition {
                font-size: 15px;
                font-weight: 400;
                margin: 4px 0 16px;
                line-height: normal;
                color: $theme2;
                @include sm {
                    font-size: 15px;
                }
                @include md {
                    font-size: 16px;
                }
            }
            & .socialicons {
                gap: 13px;
                & .socialicon {
                    height: 16px;
                    transition: all 0.3s ease-in-out;
                    & img {
                        filter: brightness(0);
                    }
                    @include sm {
                        height: 17px;
                        &:hover {
                            transform: rotateY(360deg);
                        }
                    }
                }
            }
        }
        @include sm {
            padding: 12px;
            &:hover {
                transform: translateY(-7px);
            }
        }
        @include md {
            padding: 14px;
        }
    }
    & .teamdots {
        bottom: -10px;
        display: block;
        & .swiper-pagination-bullet {
            height: 8px;
            width: 8px;
            &.swiper-pagination-bullet-active {
                background: $theme1 ;
            }
        }
    }
}
// team section end 


// contact section start 
.contactSection {
    // background: url(../img/blog/dotsbg.png);
    // & .contactcontent {
    //     & .contactCard {
    //         padding: 25px;
    //         & .contacticon {
    //             height: 65px;
    //             width: 65px;
    //             padding: 18px;
                
    //         }
    //         & .cardheading {
    //             font-size: 22px;
    //             font-weight: 600;
    //             color: $black;
    //             margin: 10px 0 14px;
    //             line-height: normal;
    //         }
    //         & .addressdetail {
    //             font-size: 16px;
    //             font-weight: 400;
    //             color: lighten($black, 35);
    //             line-height: normal;
    //         }
    //         &:hover {
    //             & .contacticon {
    //                 img {
    //                     animation: toBottomFromTop 1s forwards;
    //                 }
    //             }
    //             @keyframes toBottomFromTop {
    //                 49% {
    //                     -webkit-transform: translateY(-100%);
    //                     transform: translateY(-100%);
    //                 }
                    
    //                 50% {
    //                     opacity: 0;
    //                     -webkit-transform: translateY(100%);
    //                     transform: translateY(100%);
    //                 }
    //                 51% {
    //                     opacity: 1;
    //                 }
    //             }
    //         }
    //     }
    // }
    & .contactusImg {
        aspect-ratio: 6/3;
        @include md {
            aspect-ratio: 5/3;
        }
        @include lg {
            aspect-ratio: 6/3;
        }
    }
    & .submitbtn {
        background:$theme1;
        border-color: $theme1;
        color: $white;
        font-size: 13px;
        line-height: normal;
        padding:0 24px;
        font-weight: 700;
        border-radius: 4px;
        height: 39px;
        transition: all 0.3s ease-in-out;
        &:active {
            background-color: $theme1;
            border-color: $theme1;
            color: $white;
        }
        &:hover {
            background-color: darken($theme1, 10);
        }
        @include sm {
            font-size: 14px;
        }
    }
}
.formdata {
    // margin-top: 40px;
    // & .formcardmain {
    //     padding: 20px 0;
    // }
    & .formcard {
        & .contactlabel {
            font-size: 13px;
            font-weight: 500;
            color:$black;
            line-height: normal;
            margin:0 0 3px 2px;
            @include sm {
                font-size: 14px;
            }
        }
        & .contactInput {
            // border-bottom: 1.4px solid #33475b !important;
            // padding-bottom: 0px;
            font-size: 13px;
            font-weight: 500;
            color:$black;
            height: 35px;
            border-radius: 5px;
            @include sm {
                font-size: 14px;
                height: 40px;
            }
        }
        & input:-webkit-autofill,
        input:-webkit-autofill:focus {
            transition: background-color 600000s 0s, color 600000s 0s;
        }
        & input[data-autocompleted] {
            background-color: transparent !important;
        }
        &::placeholder {
            font-size: 13px;
            font-weight: 500;
            color:$black;
            @include sm {
                font-size: 14px;
            }
        }
        & .textbox {
            min-height: 70px;
            @include sm {
                min-width: 85px;
            }
            @include md {
                min-width: 100px;
            }
        }
        // & .contactInput {
        //     &:focus ~ .contactlabel {
        //         top: 0;
        //     }
        // }
    }
}
// contact section end



// influencer page start 
.influencerSection {
    background: url(../img/blog/dots.png);
    min-height: 100vh;
    margin-top: 25px;
    @include xl {
        height: 100vh;
    }
    // background: url(../img/blog/bgshape.png) no-repeat;
    // background-size: cover;
    // background-position: center center;
    & .influencerHeading {
        font-size: 27px;
        font-weight: 700;
        color: $theme3;
        line-height: 32px;
        // @include sm {
        //     font-size: 26px;
        //     line-height: 37px;
        // }
        @include md{
            font-size: 35px;
            line-height: 42px;
        }
        // @include lg {
        //     font-size: 38px;
        // }
        @include lg {
            font-size:42px ;
            line-height: 52px;
        }
    }
    & .influencerDetail {
        font-size: 16px;
        font-weight: 400;
        color: $theme2;
        line-height: normal;
        margin-top: 10px;
        // @include sm {
        //     font-size: 16px;
        //     margin-top:15px;
        // }
        // @include md {
        //     font-size: 16px;
        //     margin-top: 20px;
        // }
        @include lg {
            font-size: 20px;
            margin-top: 14px;
        }
    }
    & .influencerTitle {
        font-size: 18px;
        font-weight: 600;
        color: $black;
        margin-top: 10px;
        @include md {
            font-size: 20px;
            margin-top: 14px;
        }
        @include md {
            font-size: 22px;
            margin-top: 14px;
        }
        
    }
    & .contactbtnMain {
        margin-top: 18px;
        & .contactbtn {
            font-size: 12px;
            font-weight: 500;
            color: $white;
            background-color: $theme1;
            padding: 0 20px;
            height: 45px;
            border-radius: 5px;
            transition: all 0.3s ease-in-out;
            &:hover {
                background-color: darken($theme1, 7);
            }
            @include md {
                font-size: 16px;
            }
        }
    }
    & .influencerimg {
        border-radius: 6px 6px 6px 40px;
        // height: 430px;
        & img {
            object-fit: cover;
        }
        @include lg {
            height: 430px;
            aspect-ratio: unset !important;
            // object-fit: cover;
            border-radius: 10px 10px 10px 100px;
        }
        @include md {
            aspect-ratio: 4/2;
            
            border-radius: 8px 8px 8px 70px;
        }
        @include sm {
            border-radius: 6px 6px 6px 50px;
        }
    }
}
@media (max-width:1400px) {
    .influencerSection {
        margin-top: 60px;
    }
}
// influencer page end


// cta section start 
.ctasection {
    background: url(../img/blog/ctabackground.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba($black, 0.6);

    }
    & .ctaheading {
        font-size: 27px;
        font-weight: 700;
        color: $white;
        line-height: 32px;
        // @include sm {
        //     font-size: 26px;
        //     line-height: 37px;
        // }
        @include md{
            font-size: 35px;
            line-height: 42px;
        }
        // @include lg {
        //     font-size: 38px;
        // }
        @include lg {
            font-size:42px ;
            line-height: 52px;
        }
    }
    & .ctadata {
        font-size: 16px;
        font-weight: 400;
        color: $white;
        line-height: normal;
        margin-top: 10px;
        // @include sm {
        //     font-size: 16px;
        //     margin-top:15px;
        // }
        // @include md {
        //     font-size: 16px;
        //     margin-top: 20px;
        // }
        @include lg {
            font-size: 20px;
            margin-top: 14px;
        }
    }
    & .ctabtn {
        font-size: 12px;
        font-weight: 500;
        color: $white;
        background-color: $theme1;
        padding: 0 20px;
        height: 45px;
        border-radius: 5px;
        transition: all 0.3s ease-in-out;
        &:hover {
            background-color: darken($theme1, 7);
        }
        @include md {
            font-size: 16px;
        }
    }
}
// cta section end


// blog page start 
.headingSection {
    height: 45vh;
    background: url(../img/blog/ctabackground.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 45px;
    &.contactheading {
        background: url(../img/blog/contactuspagebg.jpg) no-repeat;
        background-size: cover;
        background-position: center center;
    }
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba($black, 0.6);
    }
    & .pageheading {
        font-size: 40px;
        font-weight: 700;
        color: $white;
        @include sm {
            font-size: 45px;
        }
        @include md {
            font-size: 50px;
        }
        @include lg {
            font-size: 55px;
        }
        @include xl {
            font-size:60px;
        }
    }
    & .headingBreadcrumb {
        & .headingTitle {
            font-size: 14px;
            font-weight: 500;
            color: $white;
            & a {
                font-size: 16px;
                font-weight: 500;
                color: $white;
                transition: all 0.3s ease-in-out;
                &:hover {
                    color: $theme1;
                }
            }
            &.active {
                color: lighten($black, 75);
                &::before {
                    color: lighten($black, 75);
                }
            }
            @include sm {
                font-size: 15px;
            }
            @include md {
                font-size: 16px;
            }
        }
    }
    @include sm {
        height: 55vh;
    }
}
// blog page end



// blog navbar start 
.blognav {
    & .logonav {
        & .logoName {
            color: $white;
        }
    }
    @include lg {
        & .navbarNav {
            & .navItem {
                & .navLInk {
                    color: $white;
                }
            }
        }
        &.nav-active {
            
            & .navbarNav {
                & .navItem {
                    & .navLInk {
                        color: $black;
                        &.active {
                            color: $theme1;
                        }
                    }
                }
            }
        }
    }
    &.nav-active {
        & .logonav {
            & .logoName {
                color: $black;
            }
        }
    }
}

// blog navbar end


// pagination start 
.pagepagination {
    & .pageLink {
        height: 30px;
        width: 30px;
        border: 1px solid lighten($black, 80);
        background-color: transparent;
        color: $black;
        font-size: 13px;
        font-weight: 600;
        transition: all 0.3s ease-in-out;
        padding: 11px;
        @include sm {
            height: 35px;
            width: 35px;
            font-size: 14px;
            padding: 0;
        }
        @include md {
            height: 37px;
            width: 37px;
            font-size: 15px;
        }
        @include lg {
            height:40px;
            width: 40px;
            font-size: 16px;
        }
        & .arrow {
            height: 11px;
            width: 6px;
            transition: all 0.3s ease-in-out;
            & img {
                transition: all 0.3s ease-in-out;
            }
            @include sm {
                height: 12px;
                width: 7px;
            }
            @include md {
                height: 13px;
                width: 8px;
            }
        }
        &:hover {
            background-color: $theme1;
            color: $white;
            border-color: $theme1;
            & .arrow {
                & img {
                    filter:invert(1);
                }
            }
        }
        &.active {
            background-color: $theme1;
            color: $white;
            border-color: $theme1;
            & .arrow {
                & img {
                    filter:invert(1);
                }
            }
        }
    }
    & .page-item {
        &.disabled {
            background-color: lighten($black, 85);
        }
    }
}
// pagination end


// blog page start 
.blogpage {
    & .blogcard {
        & .blogcontent {
            & .blogdetail {
                -webkit-box-orient: unset;
                @include md {
                    line-height: 23px;
                }
            }
        }
        & .date {
            margin-top: 20px;
            line-height: normal;
            margin-left: 6px;
        }
    } 
}
// blog page end

// contact us page start 
.iframemain {
    height: 300px;
    @include sm {
        height: 350px;
    }
    @include md {
        height: 400px;
    }
}
.contactpage {
    & .devolopements-benefits-box-count  {
        padding: 13px;
    }
}
// contact us page end


// blog innere page start 
.blogInnerpage {
    & .blogcardmain {
        padding: 25px;
        & .blogimg {
            aspect-ratio: 6/3;
        }
    }
}
// blog innere page end