.navbar{
    // background: #170c2a;
    background-color: transparent;
    height: 70px;
    @include sm{
    height: 80px;

    }
    &.nav-active{
      background-color: $white;
      & .menuBtn{
        & img{
          filter: invert(1) !important;
        }
      }
    }
  &  .logonav{
    // width: 55px;
    height: 55px;
  }
  & .logoName{
    font-size: 20px;
    color: $black;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover{
        color: $theme1;
    }
    @include xl{
      font-size: 25px;
  
      }
    @include xl{
    font-size: 28px;

    }
  }
  & .menuBtn{
    width: 25px;
    height: 25px;
    background-image: none !important;
    & img{
      object-fit: contain;
      // background-image: none;
      // filter: brightness(0);
    }

    @include md{
      width: 35px;
      height: 35px;
    }

  }

  & .navbarNav{
    & .navItem{
        & .navLInk{
            color: $black;
            font-size: 14px;
            @include sm{
                font-size: 16px;
                font-weight: 600;
                transition: all 0.3s ease-in-out;
                &:hover{
                    color: $theme1;
                }
                &.active{
                    color: $theme1;
                }
            }
        }
    }
  }
}