// hero SectionStart 

.heroSection{
  background-color: rgb(23, 12, 42);
  height: calc(100vh - 80px);
  color: white;
  position: relative;
  align-items: center;
  padding: 0;
  @include sm{
    background-color: rgb(23, 12, 42);
    height: calc(100vh - 80px);
    color: white;
    position: relative;
    align-items: center;
  }
  & .videoBg{
    & .videoInner{
      object-position: right;
      @include sm{
    
      }
      @include md{
      }
      @include lg{
      }
      @include xl{
        object-position: unset;
          
      }
      @include xxl{
          
      }
    }
  }
  & .HeroHeading{
    font-size: 27px;
    color: $theme1;
    line-height: 32px;
    @include sm{
      font-size: 34px;
      color: $theme1;
      line-height: 44px;
    }
    @include xl{
      font-size: 48px;
      color: $theme1;
      line-height: 58px;
    }
 
  }
  & .heroPera{
    font-size: 16px;
    color: $white;
    font-weight: 700;
    @include xxl{
      font-size: 24px;
      color: $white;
      font-weight: 700;
    }
    @include sm{
      font-size: 20px;
      color: $white;
      font-weight: 700;
    }
   
  }

  & .searchBox{
    max-width: 557px;
    min-height: 62px;
    border-radius: 60px;
    position: relative;
    background-color:$white;
    display: flex;
    align-items: center;
    padding: 0px;
    border: 2px solid rgb(131, 113, 169);
    @include lg{
      max-width: 557px;
      min-height: 72px;
      border-radius: 60px;
      position: relative;
      background-color:$white;
      display: flex;
      align-items: center;
      padding: 15px;
      border: 4px solid rgb(131, 113, 169);
    }

    & .Dropdown{
      & .dropbtn{
        font-size: 13px;
        color: $theme1;
        font-weight: 700;
        &::after{
          background-image: url(../img/downarrow.svg);
          background-repeat: no-repeat;
          background-size: cover;
          width: 15px;
          height: 15px;
          top: 100px;
          border: none !important;
        }
        @include sm{
          font-size: 16px;
          color: $theme1;
          font-weight: 700;
        }
        @include sm{
          font-size: 18px;
          color: $theme1;
          font-weight: 700;
        }
      }
      & .IconMedia{
        width: 18px;
        height: 18px;
        @include sm{
          width: 14px;
          height: 14px;
        }
      }
      & .DropMenu{
        background-color: $white;
        border-radius:10px ;
        border: none;
        max-width: 200px;
        & .dropdown-item{
          font-size: 14px;
          color: $theme2;
          @include sm{
            font-size: 16px;
            font-weight: 700;
            color: $theme2;
            transition: all 0.3s ease-in-out;
            & .IconMedia{
              filter: grayscale(1);
            }
            &:hover{
              color:$theme1;
              & .IconMedia{
                filter: none;
              }
            }
          }
          @include md{
            font-size: 18px;
            font-weight: 700;
            color: $theme2;
            transition: all 0.3s ease-in-out;
            & .IconMedia{
              filter: grayscale(1);
            }
            &:hover{
              color:$theme1;
              & .IconMedia{
                filter: none;
              }
            }
          }
        }
      }
    }
    // & .searchInput{
    //   font-size: 16px;
    //   color: $theme2;
    //   font-weight: 700;
    //   &::placeholder{
    //     font-size: 16px;
    //     color: $theme2;
    //     font-weight: 700;
    //   }
    // }
    & .searchInput {
      font-size: 14px;
      font-weight: 700;
      color: $black;
      &::placeholder {
          font-size: 14px;
          font-weight: 700;
          color: $black;
      }
      @include sm{
        font-size: 18px;
        font-weight: 700;
        color: $black;
        &::placeholder {
            font-size: 18px;
            font-weight: 700;
            color: $black;
        }
      }
  }
  & .searchicon {
      height: 24px;
      width: 24px;
      // margin: 0 12px;
      margin-right: 10px;
  }
  & .searchInner {
      top: 100%;
      transform: translate(0, 7px);
      max-height: 30vh;
      height: 30vh;
      padding: 8px 10px;
      @include sm{
        top: 100%;
        transform: translate(0, 7px);
        max-height: 50vh;
        height: 50vh;
        padding: 20px 30px;
      }
      & .searchLi{
        padding: 10px 15px;

        @include sm{
          transition: all 0.3s ease;
          padding: 20px 30px;

        }
  
        &:hover{
          background-color: rgba(255, 200, 200, 0.658);

        }
        & .innerDropdown{
          font-size: 13px;
          color: $theme2;
          font-weight: 700;
          opacity: 0.9;
          @include sm{
            font-size: 14px;
            color: $theme2;
            font-weight: 700;
            opacity: 0.9;
          }
          @include md{
            font-size: 18px;
            color: $theme2;
            font-weight: 700;
            opacity: 0.9;
          }
          & .arrowIcon{
            width: 14px;
            height: 14px;
            transform: rotate(-45deg);
            @include sm{
              width: 14px;
              height: 14px;
              transform: rotate(-45deg);
            }
            @include md{
              width: 18px;
              height: 18px;
              transform: rotate(-45deg);
            }
          }
          & .inndrSubheading{
            font-size: 10px;
            font-weight: 600;
            @include sm{
              font-size: 13px;
            font-weight: 600;
            }
          }
        }
      }
  }
  & .searchInnerData {
      padding: 7px 12px ;
      color: $black;
      font-size: 14px;
      font-weight: 500;
      transition: all 0.3s ease-in-out;
    
      &:hover {
          background-color: lighten($black, 95);
        
      }
  }
  & .searchInput:focus ~ .searchInner { display: block !important }
  & .searchdrop {
      & .dropdownBtn {
          font-size: 14px;
          font-weight: 500;
          color: $black;
      }
      & .searchMenu {
          transform: translateY(7px);
          max-height: 50vh;
          min-width: auto;
      }
  }



  }
  & .heroBrand{
    width: 100%;
    background-color: rgb(23, 12, 42);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 3px 1px;
    border-radius: 60px 60px 0px 0px;
    padding: var(--space-2xl);
    & .brandIcon{
      height: 30px;
      @include sm{
        height: 40px;

      }
    }
  }
}

// hero section end 

// counter section 

.counterSection{
  & .counterCard{
    
    background-color: $white;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
    border-radius: 0px 0px 40px 40px;
    padding: 1.5rem;
    @include sm{
      background-color: $white;
      box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
      border-radius: 0px 0px 60px 60px;
      padding: 1.5rem;
    }
    & .iconuser{
      background-color:#8D4AFF;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 18px 16px -3px;
      width: 30px;
      height: 30px;
      border-radius:50%;
      overflow: hidden;
      margin-top: 10px;
      flex-shrink: 0;
      @include sm{
        background-color:#8D4AFF;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 18px 16px -3px;
        width: 40px;
        height: 40px;
        border-radius:50%;
        overflow: hidden;
        margin-top: 14px;
        flex-shrink: 0;
      }
      @include sm{
        background-color:#8D4AFF;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 18px 16px -3px;
        width: 44px;
        height: 44px;
        border-radius:50%;
        overflow: hidden;
        margin-top: 14px;
        flex-shrink: 0;
      }
    }
    & .counterHeading{
      font-size: 22px;
      font-weight: 700;
      color: $black;
      @include sm{
        font-size: 30px;
        font-weight: 700;
        color: $black;
      }
      @include md{
        font-size: 40px;
        font-weight: 700;
        color: $black;
      }
      @include lg{
        font-size: 48px;
        font-weight: 700;
        color: $black;
      }
    }
    & .counterPera{
    font-size: 14px;
      font-weight: 600;
      color:lighten($black,40);
      @include sm{
        font-size: 1.3rem;
        font-weight: 600;
        color:lighten($black,40);
      }
      @include md{
        font-size: 1.4rem;
        font-weight: 600;
        color:lighten($black,40);
      }
    }
  }
}

// our client section start 

.ourClient{
  & .clientContent{
    @include lg{
      // position: sticky;
      // top: 90px;

    }
    & .headingClient{
      font-size: 22px;
      line-height: 32px;
      color: $black;
      font-weight: 700;
      @include sm{
        font-size: 24px;
        line-height: 26px;
        color: $black;
        font-weight: 700;
      }
      @include md{
        font-size: 34px;
        line-height: 52px;
        color: $black;
        font-weight: 700;
      }
      @include md{
        font-size: 40px;
        line-height: 38px;
        color: $black;
        font-weight: 700;
      }
      & .subheadingClient{
        color: $theme1;
      }
    }
    & .pera{
      font-size: 16px;
      color: $black;
      font-weight: 600;
      @include sm{
        font-size: 16px;
        color: $black;
        font-weight: 600;
      }
      @include md{
        font-size: 20px;
        color: $black;
        font-weight: 600;
      }
    }
    & .askBtn{
      background-color: $theme1;
      padding: 8px 16px;
      border-radius: 5px;
      font-size: 14px;
      font-weight: 500;
      border: 1px solid;
      color: $white;
      transition: 0.3s linear;
      margin-right: 8px;
      z-index: 2;
      @include sm{

        background-color: $theme1;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 15px;
        font-weight: 500;
        border: 1px solid;
        color: $white;
        transition: 0.3s linear;
        margin-right: 8px;
        z-index: 2;
        &:hover{
            // background-color: lighten($color: $theme1, $amount: 10);
            border: 1px solid $theme1;
            background-color: transparent;
            color: $theme1;
        }
      }
    }
    }
    & .cardImg{
      box-shadow: rgba(0, 0, 0, 0.05) -5px 4px 36px;
      border-radius: 4px;
      // width: 200px;
      height: 100px;
      padding: 10px;
      background: rgb(255, 255, 255);
      display: flex;
      align-items: center;
      justify-content: center;
   
      align-items: center;
      border: none;
      &.active{
        & .clientImg{
          display: none;
        }
        & .clientImg2{
          display: block !important;
        }
      }
      & .clientImg{
      height: 100px;
      padding: 10px;
       
      }
      & .clientImg2{
        height: 100px;
    
      }
    }
}




// ourClient section end 