// hero SectionStart 

.heroSection{

  color: white;
  position: relative;
  align-items: center;
  padding-top: 80px;
  min-height: 100vh;
  @include sm{
    
  }
  @include md{
    padding-top: 0;
  }
  @include lg{
  }
  @include xl{
      
  }
  @include xxl{
      
  }
  &::after{
    content: '';
    background-image: url(./../img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  @include sm{
    color: white;
    position: relative;
    align-items: center;
  }
  @include xl{
  height: 100vh;
  }
  & .heroImage{
    z-index: 6;
    position: relative;
    & img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  & .heroTxtWrapper{
    z-index: 5;
    position: relative;
  }
  & .videoBg{
    & .videoInner{
      object-position: right;
      @include sm{
    
      }
      @include md{
      }
      @include lg{
      }
      @include xl{
        object-position: unset;
          
      }
      @include xxl{
          
      }
    }
  }
  & .HeroHeading{
    font-size: 27px;
    color: $theme3;
    line-height: 32px;
    @include sm{
    }
    @include md{
      font-size: 30px;
      line-height: 36px;
    }
    @include lg{
      font-size: 35px;
      line-height: 42px;
    }
    @include xl{
      font-size: 42px;
      line-height: 52px;
    }
  }
  & .heroPera{
    font-size: 16px;
    color: $theme2;
    // font-weight: 700;
    @include sm{
      font-size: 16px;
      line-height: normal;
    }
    @include lg{
      font-size: 20px;;
    }
  }

  & .searchBox{
    max-width: 557px;
    min-height: 62px;
    border-radius: 60px;
    position: relative;
    background-color:$white;
    display: flex;
    align-items: center;
    padding: 0px;
    border: 2px solid rgb(131, 113, 169);
    @include lg{
      max-width: 557px;
      min-height: 72px;
      border-radius: 60px;
      position: relative;
      background-color:$white;
      display: flex;
      align-items: center;
      padding: 15px;
      border: 4px solid $theme3;
    }

    & .Dropdown{
      & .dropbtn{
        font-size: 13px;
        color: $theme1;
        font-weight: 700;
        &::after{
          background-image: url(../img/downarrow.svg);
          background-repeat: no-repeat;
          background-size: cover;
          width: 15px;
          height: 15px;
          top: 100px;
          border: none !important;
        }
        @include sm{
          font-size: 16px;
          color: $theme1;
          font-weight: 700;
        }
        @include sm{
          font-size: 18px;
          color: $theme1;
          font-weight: 700;
        }
      }
      & .IconMedia{
        width: 18px;
        height: 18px;
        @include sm{
          width: 14px;
          height: 14px;
        }
      }
      & .DropMenu{
        background-color: $white;
        border-radius:10px ;
        border: none;
        max-width: 200px;
        & .dropdown-item{
          font-size: 14px;
          color: $theme2;
          @include sm{
            font-size: 16px;
            font-weight: 700;
            color: $theme2;
            transition: all 0.3s ease-in-out;
            & .IconMedia{
              filter: grayscale(1);
            }
            &:hover{
              color:$theme1;
              & .IconMedia{
                filter: none;
              }
            }
          }
          @include md{
            font-size: 18px;
            font-weight: 700;
            color: $theme2;
            transition: all 0.3s ease-in-out;
            & .IconMedia{
              filter: grayscale(1);
            }
            &:hover{
              color:$theme1;
              & .IconMedia{
                filter: none;
              }
            }
          }
        }
      }
    }
    // & .searchInput{
    //   font-size: 16px;
    //   color: $theme2;
    //   font-weight: 700;
    //   &::placeholder{
    //     font-size: 16px;
    //     color: $theme2;
    //     font-weight: 700;
    //   }
    // }
    & .searchInput {
      font-size: 14px;
      font-weight: 700;
      color: $black;
      &::placeholder {
          font-size: 14px;
          font-weight: 700;
          color: $black;
      }
      @include sm{
        font-size: 18px;
        font-weight: 700;
        color: $black;
        &::placeholder {
            font-size: 18px;
            font-weight: 700;
            color: $black;
        }
      }
  }
  & .searchicon {
      height: 24px;
      width: 24px;
      // margin: 0 12px;
      margin-right: 10px;
  }
  & .searchInner {
      top: 100%;
      transform: translate(0, 7px);
      max-height: 30vh;
      height: 30vh;
      padding: 8px 10px;
      @include sm{
        top: 100%;
        transform: translate(0, 7px);
        max-height: 50vh;
        height: 50vh;
        padding: 20px 30px;
      }
      & .searchLi{
        padding: 10px 15px;

        @include sm{
          transition: all 0.3s ease;
          padding: 20px 30px;

        }
  
        &:hover{
          background-color: rgba(255, 200, 200, 0.658);

        }
        & .innerDropdown{
          font-size: 13px;
          color: $theme2;
          font-weight: 700;
          opacity: 0.9;
          @include sm{
            font-size: 14px;
            color: $theme2;
            font-weight: 700;
            opacity: 0.9;
          }
          @include md{
            font-size: 18px;
            color: $theme2;
            font-weight: 700;
            opacity: 0.9;
          }
          & .arrowIcon{
            width: 14px;
            height: 14px;
            transform: rotate(-45deg);
            @include sm{
              width: 14px;
              height: 14px;
              transform: rotate(-45deg);
            }
            @include md{
              width: 18px;
              height: 18px;
              transform: rotate(-45deg);
            }
          }
          & .inndrSubheading{
            font-size: 10px;
            font-weight: 600;
            @include sm{
              font-size: 13px;
            font-weight: 600;
            }
          }
        }
      }
  }
  & .searchInnerData {
      padding: 7px 12px ;
      color: $black;
      font-size: 14px;
      font-weight: 500;
      transition: all 0.3s ease-in-out;
    
      &:hover {
          background-color: lighten($black, 95);
        
      }
  }
  & .searchInput:focus ~ .searchInner { display: block !important }
  & .searchdrop {
      & .dropdownBtn {
          font-size: 14px;
          font-weight: 500;
          color: $black;
      }
      & .searchMenu {
          transform: translateY(7px);
          max-height: 50vh;
          min-width: auto;
      }
  }



  }
  & .heroBrand{
    width: 100%;
    background-color: rgb(23, 12, 42);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 3px 1px;
    border-radius: 60px 60px 0px 0px;
    padding: var(--space-2xl);
    & .brandIcon{
      height: 30px;
      @include sm{
        height: 40px;

      }
    }
  }
}

// hero section end 

// counter section 

.counterSection{
  & .counterCard{
    
    background-color: $white;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
    border-radius: 0px 0px 40px 40px;
    padding: 1.5rem;
    @include sm{
      background-color: $white;
      box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
      border-radius: 0px 0px 60px 60px;
      padding: 1.5rem;
    }
    & .iconuser{
      background-color:#8D4AFF;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 18px 16px -3px;
      width: 30px;
      height: 30px;
      border-radius:50%;
      overflow: hidden;
      margin-top: 10px;
      flex-shrink: 0;
      @include sm{
        background-color:#8D4AFF;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 18px 16px -3px;
        width: 40px;
        height: 40px;
        border-radius:50%;
        overflow: hidden;
        margin-top: 14px;
        flex-shrink: 0;
      }
      @include sm{
        background-color:#8D4AFF;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 18px 16px -3px;
        width: 44px;
        height: 44px;
        border-radius:50%;
        overflow: hidden;
        margin-top: 14px;
        flex-shrink: 0;
      }
    }
    & .counterHeading{
      font-size: 22px;
      font-weight: 700;
      color: $black;
      @include sm{
        font-size: 30px;
        font-weight: 700;
        color: $black;
      }
      @include md{
        font-size: 40px;
        font-weight: 700;
        color: $black;
      }
      @include lg{
        font-size: 48px;
        font-weight: 700;
        color: $black;
      }
    }
    & .counterPera{
    font-size: 14px;
      font-weight: 600;
      color:lighten($black,40);
      @include sm{
        font-size: 1.3rem;
        font-weight: 600;
        color:lighten($black,40);
      }
      @include md{
        font-size: 1.4rem;
        font-weight: 600;
        color:lighten($black,40);
      }
    }
  }
}

// our client section start 

.ourClient{
  & .clientContent{
    @include lg{
      // position: sticky;
      // top: 90px;

    }
    & .headingClient{
      font-size: 22px;
      line-height: 32px;
      color: $black;
      font-weight: 700;
      @include sm{
        font-size: 24px;
        line-height: 26px;
        color: $black;
        font-weight: 700;
      }
      @include md{
        font-size: 34px;
        line-height: 52px;
        color: $black;
        font-weight: 700;
      }
      @include md{
        font-size: 40px;
        line-height: 38px;
        color: $black;
        font-weight: 700;
      }
      & .subheadingClient{
        color: $theme1;
      }
    }
    & .pera{
      font-size: 16px;
      color: $black;
      font-weight: 600;
      @include sm{
        font-size: 16px;
        color: $black;
        font-weight: 600;
      }
      @include md{
        font-size: 20px;
        color: $black;
        font-weight: 600;
      }
    }

    }
    & .cardImg{
      box-shadow: rgba(0, 0, 0, 0.05) -5px 4px 36px;
      border-radius: 4px;
      // width: 200px;
      height: 100px;
      padding: 10px;
      background: rgb(255, 255, 255);
      display: flex;
      align-items: center;
      justify-content: center;
   
      align-items: center;
      border: none;
      &.active{
        & .clientImg{
          display: none;
        }
        & .clientImg2{
          display: block !important;
        }
      }
      & .clientImg{
      height: 100px;
      padding: 10px;
       
      }
      & .clientImg2{
        height: 100px;
    
      }
    }
}

// ourClient section end 

// brand hero section start 

.brandHeroSection{
    background-image: url(../img/brand/hero-9-img.png) !important;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 80px;
    min-height: 80vh;
    @include xl{
      min-height: 100vh;
    }
    & .HeroHeading{
      font-size: 25px;
      color: $theme3;
      line-height: 32px;
      @include sm{
      }
      @include md{
        font-size: 30px;
        line-height: 36px;
      }
      @include lg{
        font-size: 35px;
        line-height: 42px;
      }
      @include xl{
        font-size: 42px;
        line-height: 52px;
      }
    }
    & .heroPera{
      font-size: 16px;
      color: $theme2;
      // font-weight: 700;
      @include sm{
        font-size: 16px;
        line-height: normal;
      }
      @include lg{
        font-size: 20px;;
      }
    }
    & .heroImage{
      z-index: 6;
      position: relative;
      
      & img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        aspect-ratio: 1/.7;
        @include lg{
          width: 100%;
          height: 100%;
          object-fit: contain;
          aspect-ratio: unset;
        }
      }
    }
}
// brand hero section end 

// contect form 
.aboutUs{
  & .cardAbout{
      border-radius: 5px;
      padding: 20px;
      background-color:lighten($theme2,10) !important;
      @include md{
        padding: 30px;

      }
      @include lg{
        padding: 40px;

      }
      & .cardHeading{
          font-size: 22px;
          line-height: 30px;
          color: $white;
          font-weight: 600;
          @include md{
            font-size: 25px;
            line-height: 32px;
          }
          @include md{
            font-size: 30px;
            line-height: 38px;
          }
      }
   
   
 
  }
  .devolopements-benefits-box {
      // background-color:$black !important;
      background-color:lighten($theme2,10) !important;

      background-size: cover;
      transition: all 0.3s ease-in-out;
      &:hover{
        & .devolopements-benefits-box-count{
          border-radius: 10px;
        }

      }
      & .headingCardInner{
          color: $white;
          font-size: 18px;
          align-items: center;
          @include sm{
            font-size: 20px;
            align-items: start;

          }
      }
      & .peraCard{
          font-size: 14px;
          color: $white;
          opacity: 0.7;
          margin-top: 10px;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          align-items: center;

          @include sm{
          font-size: 16px;
          align-items: start;

          }
      }
      & .positionCard{
          color: $white;
          font-size: 12px;
      }
      & .devolopements-benefits-box-count {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          top: -25px;
          background-color: $theme1;
          width: 50px;
          height: 50px;
          border-radius: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 900;
          color: #fff;
          font-size: 20px;
          transition: 0.5s;
          transition: all 0.3s ease-in-out;
          @include sm{
          left: 3px;
          font-size: 24px;
         
          height: 50px;
          border-radius: 50px;
          top: 20px;

          }
        }
    }
    
}
// contact form end 

// form section 
.formStart{
  & .formFloat{
    border-color:Red !important ;
      &::placeholder{
          color: $theme3 !important;
      }
      & .formFloatinput{
        color: $white !important;
          &:focus{
              border-color: $white !important;
          }
      }
      & .formFloatinputlabel{
        color: $white !important;
          font-size: 14px !important;
          @include sm{
          font-size: 16px !important;

          }
          &::after{
              background: transparent !important;
          }
      }
      & .formFloatinputtextarea{
          height: 120px;
          @include sm{
          height: 150px;

          }
      }
  }
}
// form section end 

// services section start 

  .servicesSection{

    & .servicesCard{

      padding: 15px;
      background:lighten($theme3, 65) ;
      border-radius: 10px;
      transition: all 0.3s ease-in-out;
      @include sm{
        padding: 30px;
        &:hover{
          transform: translateY(-10px);
          & .cardImg{
            transform: rotate(0deg);
          }
          & .cardHeading{
            color: $theme1;
          }
        }
      }
    
      & .cardImg{
        width: 55px;
        height: 55px;
        box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        padding: 7px;
        transform: rotate(-5deg);
        background-color: $white;
        transition: all 0.3s ease-in-out;
        @include sm{
          width: 65px;
          height: 65px;
          padding: 10px;
        }
        
      }
      & .cardHeading{
        font-size: 18px;
        color: $black;
        font-weight: 700;
        transition: all 0.3s ease-in-out;
        @include sm{
          font-size: 20px;
  
          }
        @include md{
          font-size: 22px;
  
          }
          @include lg{
            font-size: 24px;
    
            }
      }
      & .cardPera{
        font-size: 14px;
        color: $black;
        font-weight: 400;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        @include sm{
        font-size: 16px;

        }
      }
    }
  }

// services section end 

// videoSection 

.videoSectionmember{
  & .VideoCard{
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    // height: 350px;
    & .videoImg2{
      height: 400px;
     & img{
      border-radius: 20px;
      object-fit: cover;
     }
    }
    & .badgeInsta{
      padding:8px 16px;
      height: 30px;
      background-color: $theme3;
      font-size: 12px;
      color: $white;
      font-weight: 400;
      width:fit-content;
      position: absolute;
      top: 8px;
      left: 8px;
      & .iconInsta{
        width: 16px;
        height: 16px;
      }
    }
    & .profileCardinner{
      // width:fit-content;
      position: absolute;
      bottom:8px;
      left : 8px;
      right:8px;
      padding: 10px;
      height: 70px;
      background-color:rgba(255, 255, 255, 0.712);
      & .userIMgsmall{
        width: 50px;
        height: 50px;
        border-radius: 50%;

      }
      & .nameUser{
        font-size: 14px;
        color:$black;
        font-weight: 600;
      }
      & .profileuser{
        font-size: 12px;
        color:$black;
        font-weight:400;
      }
    }
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.playsvg{
  border: 2px solid white;
  border-radius: 50%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  right: 20%;
  width: 60px !important;
  height: 60px !important;
  display: flex;
  justify-content: center;
  align-items: center; 
  opacity: 0;
  @include sm{
  }
  @include md{
  }
  @include lg{
      opacity: 1;
  }
  @include xl{
      
  }
  @include xxl{
      
  }
  & img{
      width: 15px !important;
      height: 15px !important;
  }
}


@keyframes waves {
  0% {
      -webkit-transform: scale(0.2, 0.2);
      transform: scale(0.2, 0.2);
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
  50% {
      opacity: 0.9;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  }
  100% {
      -webkit-transform: scale(0.9, 0.9);
      transform: scale(0.9, 0.9);
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
.waves {
  position: absolute;
  width: 150px;
  height: 150px;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  border-radius: 100%;
  right: -50px;
  bottom: -50px;
  z-index: -1;
  -webkit-animation: waves 3s ease-in-out infinite;
  animation: waves 3s ease-in-out infinite;
}
.wave-1 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.wave-2 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.wave-3 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}


